[submodule "workflow/submodules/djerba"]
	path = workflow/submodules/djerba
	url = https://github.com/oicr-gsi/djerba
[submodule "workflow/submodules/oncokb-annotator"]
	path = workflow/submodules/oncokb-annotator
	url = https://github.com/oncokb/oncokb-annotator
[submodule "workflow/submodules/pori_python"]
	path = workflow/submodules/pori_python
	url = https://github.com/bcgsc/pori_python
[submodule "workflow/submodules/djerba_graphkb_plugin"]
	path = workflow/submodules/djerba_graphkb_plugin
	url = https://github.com/nodrogluap/djerba_graphkb_plugin
