# If the results need to be written and read by multiple users on the same system, enable these two settimngs to control group access and writeability.
# set_output_group: foo
# set_output_umask: 0o770

# If set to true, after Dragen BAM file generation the FASTQ.gz files used as input will be removed and replaced with ORA-compressed 
# sequence files (using index pointed to in 'ref_ora' setting below). 
# This will require and use Compression license as seen in the output of the dragen_lic command.
ora_compress_fastqs: False

# If set to true, Dragen will generate CRAMs rather than BAMs.  
# The reference that can be used for working with the CRAM afterwards (e.g. in samtools) is defined in the 'ref_fasta' setting below.
generate_crams: False

# This needs to be provided by the user, after registering for access to OncoKB (https://www.oncokb.org/account/register) the token is 
# available from the user's profile page (https://www.oncokb.org/account/settings). 
# If a token is not provided, Djerba reports will not be generated.
oncokb_api_token_file: "config/oncokb_api_key.txt"

# Indicate whether Tamor should try to login to Qiagen's Ingenuity Pathway Analysis portal to generate pathway analyses (requires a paid IPA license).
upload_to_ipa: False

# Where to write temporary intermediate outputs used internally by Dragen (preferably an SSD or other very fast storage).
temp_dir: "/staging/tmp"

# For samples where SampleSheet contains UMI OverrideCycle setting:
# What UMI scheme is being used (if random UMIs are used, comment out this setting). 
# Common values could be IDT xGen Prism or Illumina TrueSight Oncology (resources files for both are included in Tamor).
umi_whitelist: "resources/umi_whitelists/IDT_xGen_Prism.txt"
# If a UMI correction table is available, it will be used. Otherwise a Hamming distance of one from the whitelist is used.
#umi_correction_table: "resources/umi_whitelists/Illumina_TSO_correction_table.txt"
# Optionally, define a threshold for removal of most single base PCR slippage artifacts (single base insertions or deletions) from UMI-enabled library preps.
# This fraction of reads at an insertion site must either support the reference or alt allele to remain PASS filter.
# The default value generally has less of an effect on the detection of cases of microsatellite instability, which have predominantly deletion variants and 
# informative fraction closer to 1.
umi_slippage_support_informative_fraction: 0.97

# Minimum coverage for MicroSatellite Instability calculation
msi_min_coverage: 20

# To minimize clutter in the output reports, especially when sample quality or sequencing library prep methods create low-frequency artefacts,
# set a minimum % observation for somatic mutations to be reported. This % is of the estimated tumor fraction, so if a sample is 75% pure
# and the threshold is set to 10%, variants with frequency below 7.5% in the somatic sample will not be included in PCGR or Djerba reporting.
# Setting this threshold to zero reports all variants that pass Dragen's internal quality filters, which may be important in some projects
# where you are focused on tracking subclonal expansion e.g. between a primary and recurrent or metastatic tumor.
reporting_min_proportion: 0.1

# Library preparations with short insert size (e.g. FFPE) tend to overestimate Alu repeat variation because of read-to-genome mappability issues,
# and in the case of FFPE this is confounded by DNA damage artifacts such as stacked pyramidine cross-linking and 8-oxoG that appear like tumor mutations in the final sequencing.
# A threshold of 300 means that all samples with mean library insert size less than the typical Alu length of 280-300 will not report mutations in Alu regions (see BED file 
# blacklist in resources/bed-file-collection-1.0.0/v1.0.0_hg38_Alu_regions.bed.gz). This reduces otherwise-inflated Tumor Mutational Burden reporting for FFPE samples in practice.
# This value can be commented out to disable Alu blacklist filtering, or adjusted based on your empirical analysis.
library_mean_insert_size_alu_filtering_threshold: 300

# Dragen provides systematic noise estimates for many sites in the genome.  See details at https://support-docs.illumina.com/SW/dragen_v42/Content/SW/DRAGEN/SystematicNoiseBED.htm
# Potential false positive somatic variants are marked as filtered by Tamor as a post-processing step on the 
# somatic SNV VCF by using the Dragen-provided systematic noise estimates. Performing this filtering as a post-processing step allows filter criteria to be changed and applied
# on a trial-and-error tuning basis by users without incurring more Dragen license usage (compared to if you'd included the systematic noise filter option in the mapping/variant call Dragen command line).
#
# The specificity vs sensitivity tradeoff for somatic variant detection is controlled by two settings here: 
#   - systematic_noise_AQ_threshold if set higher than the Dragen default of 10 (calculated "AQ" phred-scaled noise probability under a binomial noise model, so 90% noise exclusion), more potential noisy 
#      reads are excluded along with some chance of exclusing real variants at that site. Can effectively be set up to 60 (i.e. 99.9999% noise exclusion).
#   - systematic_noise_extraction_method can be either "mean" or "max", with "max" yielding smaller AQ values, and hence increasing the number of variants labelled as noise.
systematic_noise_AQ_threshold: 10
systematic_noise_extraction_method: "max"

# Especially for germline variant calls, where the default site Dragen quality threshold is just over 3 (compared to over 17 for somatic), false positive variants can
# creep into germline susceptibility reports with little supporting sequencing evidence, e.g. this occurs in susceptibility genes with paralogs or xenologs such as Mucin and DNA polymerase respectively.
# If enabled, the following threshold can reduce false positives with minimal effect on true positives. 
# Additionally, due to the empirically observed nature of the interaction between mapping quality and site quality, a site along with all its variants will be filtered 
# if the site quality (sixth column of the VCF) + MQ (mapping quality from the info field) is less than 50 + min_site_variant_phred_threshold. 
# Variants at sites meeting either of these criteria are much less likely to occur in dbSNP, and if they are in dbSNP they tend to have very low allele frequency, suggesting sequencing artifacts rather than true SNPs.
# This setting can be disabled to enhance very low frequency somatic mutation detection.
min_site_variant_phred_threshold: 10

# For Dragen alignment, must have been built with --enable-cnv and --enable-rna and --enable-hla, so that subdirs anchored_rna and 
# anchored_hla exist, as well as reference.bin, kmer_cnv.bin etc. in the top level dir.
ref_genome: "resources"
# Must match the reference used to build the genome index.
ref_fasta: "resources/GRCh38_full_analysis_set_plus_decoy_hla.fa"
# Directory where the ORA de/compression reference data is located, needed to run dragen map/align steps with .ora files.
ref_ora: "resources/oradata_homo_sapiens"
# GTF/GFF3 formatted exon annotations for the reference genome, which are used to generate spliced RNA alignments and annotate sequence variant effects.
ref_exon_annotations: "resources/gencode.v46.chr_patch_hapl_scaff.annotation.gtf.gz"

# Within this directory, the sample sheets must be named as experimentID.csv
# Additionally, if the libraries were prepped using a kit with a UMI-indexing scheme, this must be noted in the sample sheet under "OverrideCycles", for example if you have an 8 base UMI 
# and 10 base unique dual index for the samples (such as found in the IDT xGen kit) your file might look like so:
# [Settings]
# AdapterRead1,AGATCGGAAGAGCACACGTCTGAACTCCAGTCA
# AdapterRead2,AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT
# BarcodeMismatchesIndex1,2
# BarcodeMismatchesIndex2,2
# OverrideCycles,U8Y143;I10;I10;U8Y143

samplesheet_dir: "resources/samplesheets"

# Where the catalog of samples to be processed lives.

rna_paired_samples_tsv: "config/rna_samples.tsv"
dna_paired_samples_tsv: "config/dna_samples.tsv"

# For normal samples given the possible tumor contamination flag, what is the maximum tolerance of tumor in normal? Dragen default is 0.15.

tumor_in_normal_tolerance_proportion: 0.05

# Where the BCL and other files coming straight off the sequencer are stored, in case you need to generate the FASTQ files using this workflow

bcl_dir: "/bulk/instrument_data/chgi_novaseq6000"

# Where to write the intermediate outputs (FASTQs, fastq_list.csv, etc.).

analysis_dir: "results/analysis"

# The name of the sequencer used to generate the data (may be useful for batch effect or other corrections downstream, and avoids possible run name collision 
# if aggregating data from multiple machines).

sequencer: "HiSeq"

output_dir: "results"

# If Tamor is being used with a slurm queue, these arguments will be passed on to sbatch
slurm_extra: "--gres=fpga:1 --mem-per-cpu=255000"

